.map {
  font-size: 0;
}
.map__frame {
  width: 100%;
  height: 600px;
}

@media (max-width: 1024px) {
  .map__frame {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .map__frame {
    height: 350px;
  }
}