.nav__wrapper {
  display: flex;
  align-items: center;
}

.nav {
  display: none;

  position: absolute;
  top: 100%;
  right: 0;
}

.nav.show {
  display: flex;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.85);

  .nav__inner {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }

  .nav__link {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    color: #fff;
  }

  .nav__link:hover {
    transform: scale(1.1);
    color: $theme-color;
  }
}

@media (max-width: 1024px) {
  .nav.show {
    .nav__link {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .nav.show {
    .nav__inner {
      padding: 15px 0;
    }

    .nav__link {
      font-size: 12px;
    }
  }
}

@media (max-width: 600px) {
  .nav.show {
    .nav__inner {
      display: flex;
      justify-content: space-around;
    }

    .nav__link {
      padding: 0;
    }
  }
}

@media (max-width: 420px) {
  .nav.show {
    .nav__inner {
      flex-direction: column;
      align-items: flex-end;
      padding: 10px 0;
    }

    .nav__link {
      padding: 5px 0;
    }
  }
}