.pageup {
  opacity: 0;
  width: 26px;
  height: 26px;
  position: fixed;
  right: 5%;
  bottom: 100px;
  z-index: 30;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid white;
  transition: 1s all;
}

@media (max-width: 768px) {
  .pageup {
    bottom: 50px;
  }
}